.footerWrapper {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  flex-direction: column;
}
.footerItems {
  display: flex;
  align-items: center;
}
